<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- TODO: Update meta tags -->
  <!-- Primary meta tags -->
  <title>Idam Adam | Product Designer</title>
  <meta name="title" content="Idam Adam | Product Designer" />
  <meta name="description" content="Idam Adam | Product Designer"/>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://idamadam.com/" />
  <meta property="og:title" content="Idam Adam | Product Designer"  />
  <meta property="og:description" content="Idam Adam | Product Designer" />
  <meta property="og:image" content="https://idamadam.com/images/preview.png" />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://idamadam.com/" />
  <meta property="twitter:title" content="Idam Adam | Product Designer" />
  <meta property="twitter:description" content="Idam Adam | Product Designer" />
  <meta property="twitter:image" content="https://idamadam.com/preview.png" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <!-- TODO: Fix styles -->
  <link rel="stylesheet" href="/styles/font.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  {{ content }}
</body>
</html>