@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --demo-sidebar: #111;
  --demo-sidebar-hover: #222;
  --demo-card: #fff;
  --demo-border: #d4d4d4;
  --demo-text: #000;
  --demo-text-2: #666;
  --demo-bg: #fafafa;
}
